<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a href="#" class="navbar-brand">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/login']" class="nav-link" *ngIf="!loggedUser">Login</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/plans']" class="nav-link" *ngIf="loggedUser">Plans</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link" *ngIf="loggedUser">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container main-container">
    <router-outlet></router-outlet>
</div>