<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="card col-md-8">
            <div class="card-body">
                <h1 class="card-title">Welcome, {{getUserName()}}</h1>
                <div *ngIf="!!loggedUser;else noUserLogged">
                    <p *ngIf="!!loggedUser.activePlan;else noPlanSelected">
                        Your active plan is: {{loggedUser.activePlan.name}}.
                    </p>
                </div>
            </div>
            <ng-template #noUserLogged>Please sigh-in to use our system</ng-template>
            <ng-template #noPlanSelected>
                <p class="card-text">
                    You have no plan activated, please go to plans to see our available plans
                </p>
            </ng-template>
        </div>
    </div>
</div>